<div class="background mat-dark-theme" data-bs-theme="dark" style="display: grid; grid-template-columns: auto 1fr;">
    <div style="grid-column: 1;">
      <img
        src="https://img.freepik.com/premium-photo/top-view-dark-stylish-workplace-with-smartphone-office-supplies_67155-2963.jpg"
        alt="background"
        style="width: 100%; height: 100%; object-fit: cover;"
      />
    </div>
  
    <div class="text-center" style="display: inline-block; grid-column: 2;">
      <ngx-slick-carousel class="carousel" [config]="carouselConfig">
        <div *ngFor="let item of listItems">
          <ng-container style="display: list-item">{{ item }}</ng-container>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  
  

<div class="dimension background" data-bs-theme="dark">
  <img
    class="text-center skills"
    src="https://skillicons.dev/icons?i=cpp,java,dart,flutter,js,html,css,bootstrap,spring,nodejs,angular,postgres,mysql,mongodb,firebase](https://skillicons.dev)"
    alt="Skills"
  />
</div>

<div class="projects" [@scrollAnimation]="currentState">
  &lt;Projects&gt;
  <div class="column">
    <iframe
      src="https://cssdeck.com/labs/full/light-chat-icon"
      frameborder="0"
    ></iframe>
  </div>
  <div class="column">
    <iframe src="https://cssdeck.com/labs/full/b4ac6wnu" frameborder=""
      >Flutter Chat App</iframe
    >
  </div>
  <div class="column">
    <iframe src="https://docs.coinapi.io/#request-limits" frameborder=""
      >Flutter Chat App</iframe
    >
  </div>
  <div class="column">
    <iframe
      src="../../codepens/code-pens/code-pens.component.html"
      frameborder=""
      >Flutter Chat App</iframe
    >
  </div>
  <div class="column">
    <iframe
      src="../../codepens/code-pens/code-pens.component.html"
      frameborder=""
      >Flutter Chat App</iframe
    >
  </div>
  <iframe
    [src]="githubRepoUrl"
    frameborder="0"
    width="100%"
    height="600px"
  ></iframe>
  &lt;/Projects&gt;
</div>
