/* .background {
    background-image: url('https://img.freepik.com/premium-photo/top-view-dark-stylish-workplace-with-smartphone-office-supplies_67155-2963.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  } */

  *{
    background-color: black;
  }

  .mat-dark-theme {
    background-color: #303030; /* set the dark theme background color */
    color: #fff; /* set the dark theme text color */
  }
  
  .spacer {
    flex: 1 1 auto;
  } 

  .carousel{
    height: 300px;
    width: 450px;
    border-radius: 5px;
    margin: auto;
  }

  .carousel-item img{
    max-height: 200px;
    width: auto;
  }