/* .background {
    background-image: url('https://img.freepik.com/premium-photo/top-view-dark-stylish-workplace-with-smartphone-office-supplies_67155-2963.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  } */

  .background{
    background-color: black;
  }

  .skills{
    width: 80vw;
    margin-left: 10vw;
  }

  .dimension{
    padding: 1rem;
    margin: 1rem;
  }

  
  .mat-dark-theme {
    background-color: #303030; /* set the dark theme background color */
    color: #fff; /* set the dark theme text color */
  }
  
  .spacer {
    flex: 1 1 auto;
  } 

  .carousel{
    height: 300px;
    width: 450px;
    border-radius: 5px;
    margin: auto;
  }

  .carousel-item img{
    max-height: 200px;
    width: auto;
  }

  /* Section for i-frame */
    .projects{
      background-color: black;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;
    }

    .column{
      padding: 2px;
      width: 20vw;
      margin:auto;
      overflow: hidden;
    }

    .carousel {
      width: 80%;
      margin: auto;
    }
    
    .carousel-item {
      text-align: center;
      border: 1px solid #ccc;
      padding: 20px;
    }
    

  /* end of iframe section */


