.mat-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .mat-sidenav-container {
    height: calc(100vh - 64px); /* adjust 64px to match your toolbar height */
  }

  @media only screen and (max-width: 600px){
  .nav-class{
      display: grid;
      color: yellow;
  }
}