<div class="container">
    <div class="row customScroll">
        <div class="col-3">
            <div class="col-md-1 stat-card">
                <img src="https://geeks-for-geeks-stats-api-napiyo.vercel.app/?userName=mayankdinesh1" alt="" />
            </div>

            <div class="col-md-1 stat-card">
                <img src="https://github-readme-streak-stats.herokuapp.com/?user=mayhim182&theme=dracula&count_private=true&show_icons=true"
                    alt="" />
            </div>

            <div class="col-md-1 stat-card">
                <img src="https://leetcard.jacoblin.cool/mayank182" alt="" />
            </div>
        </div>
        <div class="col-9">
          <canvas #myCanvas  style="margin-left: 300px;"></canvas>
        </div>
    </div>
</div>